/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
Button {
    -fx-background-color : rgba(0,0,0,0);
    -fx-border-color : white;
	-fx-font-weight: bold;
    -fx-font-size: 15;
	-fx-text-fill: white;
}

Button:hover {
    -fx-background-color : white;
	-fx-text-fill: black;
}

StackPane{
    -fx-background-color : black;
}